body {
    font-family: interstate, sans-serif;
}

h1 {
    font-family: interstate, sans-serif;
    font-weight: 800;
    font-size: 32px;
    text-transform: uppercase;
}

h2 {
    font-family: interstate, sans-serif;
    font-weight: 800;
    font-size: 52px;
    color: #C95B28;
    text-transform: uppercase;
    text-shadow: -3px 2px 0 #D6845E;
}

h3 {
    font-family: interstate, sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
}



/* MENU - NAVIGATION */

header {
    margin-top: 1%;
    margin-bottom: 1%;
}

.logo img {
    width: 80px;
}


nav a {
    text-decoration: none;
    color: #333333;
    text-transform: uppercase;
}

nav a:hover {
    text-decoration: none;
    color: #c95b28;
    transition: 300ms ease-in-out;
}



/* TOP BANNER */

.top-banner {
    min-height: 600px;
}

.wrap {
    width: 100%;
}

.top-img {
    background: url(../img/top-img.jpg) no-repeat;
    height: 400px;
    background-position: right;
}

.no-space {
    padding-right: 0;
    margin-right: 15px;
}

.front-zigzag {
	background: url(../img/zigzag/zigzag4.svg) no-repeat;
	height: 200px;
    width: 50px;
    bottom: 100px;
    right: 0;
    position: absolute;
}

.purple-box {
    background-color: #6b3758;
    height: 310px;
    bottom: -90px;
    right: 0;
    position: absolute;
}

.title-box {
    background-color: #c95b28;
    color: #fff;
    padding: 25px 35px;
    margin-top: -80px;
}

.title-box a {
    color: #fff;
}

.title-box p {
    color: #EECEBE;
}

.move {
	position: relative;
}

iframe {
	border: 0;
	width: 100%;
}

/* RELEASE */
.release {
    margin-top: 50px;
}

.album-cover {
    -webkit-box-shadow: 35px 35px 0px -9px rgba(214, 132, 94, 1);
    -moz-box-shadow: 35px 35px 0px -9px rgba(214, 132, 94, 1);
    box-shadow: 35px 35px 0px -9px rgba(214, 132, 94, 1);
}

.album-cover img {
    width: 100%;
}

.zigzag-release {
    background: url(../img/zigzag-release.svg);
    margin-top: 200px;
    height: 200px;
    position: absolute;
}

.wordbreak {
    word-spacing: 100vw;
    color: #C95B28;
}

.release-box {
    background-color: #fff;
    padding: 20px 30px;
}

.release-box a {
    color: #c95b28;
}

.orange-box {
    background-color: #D6845E;
    height: 300px;
    position: absolute;
    margin-top: -80px;
}

/* HOMEPAGE ARTISTS */

.artists {
    margin-top: 150px;
    margin-bottom: 290px;
}

img.sandy {
    width: 100%;
}

.zigzag {
    background: url(../img/zig-zag.svg);
    height: 286px;
    top: 180px;
}

.artists-text {
    background-color: #fff;
    padding: 5%;
    position: absolute;
    top: 0px;
    left: 60px;
}

.artists-text a {
    color: #c95b28;
}

.artists-text h2 {
    position: absolute;
    top: -35px;
    color: #C95B28;
}

.p-box {
    height: 300px;
    background-color: #6b3758;
    position: absolute;
    top: -55px;
    left: 340px;
}

.artist-box {
    background-color: #fff;
}

/* NEWS */

/*
.news-img {
    background: url(../img/img-1.png);
}

.news-box {
    background-color: #D6845E;
    padding: 20px;
}
*/

/* LISTEN & WATCH */

.lw {
    z-index: 3;
}

.spotify {
    margin-top: -45px;
    z-index: 999;
    position: relative;
}

.lw-box {
    background-color: #6B3758;
    position: absolute;
    width: 100%;
    height: 450px;
    z-index: 2;
    top: -60px;
    right: 100px;
}

.yt-video {
    z-index: 3;
}

.lw-zigzag {
    background: url(../img/zig-zag.svg);
    position: absolute;
    z-index: 1;
    width: 600px;
    height: 200px;
    right: 0;
    top: 250px;
}


/* --------------------------------- SUBPAGES ---------------------------------- */

/* SUBPAGES TOP BANNER */
.top-image {
    background-image: url(../img/top-img.jpg);
    padding: 6%;
    background-size: cover;
}

.page-box {
    background-color: #6b3758;
    text-align: center;
    padding: 2%;
    left: 25%;
}

.h1 {
    color: #fff;
    font-family: interstate, sans-serif;
    font-weight: 800;
    font-size: 42px;
    text-transform: uppercase;
}

.sub-banner {
    margin-bottom: 70px;
}


/* SUBPAGE ARTISTS */

article {
    padding: 0% 10%;
}

article p {
    color: #fff;
    line-height: 1.65;
}

article h4 {
    color: #fff;
    font-weight: 900;
}

.artist-img img {
    width: 100%;
}

.info-img {
    width: 100%;
    position: relative;
    z-index: 2;
    -webkit-box-shadow: -57px -27px 0px 0px rgba(214, 132, 94, 1);
    -moz-box-shadow: -57px -27px 0px 0px rgba(214, 132, 94, 1);
    box-shadow: -57px -27px 0px 0px rgba(214, 132, 94, 1);
}

.artists-row {
    margin-top: 100px;
}

.zig-zag {
    background: url(../img/zig-zag-purple.svg);
    height: 170px;
    position: absolute;
    left: -1%;
    bottom: -13%;
}

.artist-name {
    background-color: #C95B28;
    padding-bottom: 2%;
    padding-top: 4%;
    padding-left: 10%;
}

/* Arrow rotation and center*/

.light-orange {
    background-color: #D6845E;
    display: inline-block;
    line-height: 60px;
    text-align: center;
}

.light-orange i {
    padding: 0;
    transition: all 0.3s ease-in-out;
}

.fa-chevron-down {
    color: #333;
    transform: rotate(0deg);
    transition: transform .3s linear;
}

.fa-chevron-down.open {
    transform: rotate(180deg);
    transition: transform .3s linear;
}

/* END arrow rotation and center*/

.name-box {
    position: absolute;
    bottom: -8%;
}

/* info boxes*/

.info {
    background-color: #6B3758;
    padding: 5% 2%;
    position: relative;
}

.info1:after,
.arrow_box:before {
    bottom: 100%;
    left: 30%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.info2:after,
.arrow_box:before {
    bottom: 100%;
    left: 64.5%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.info:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #6B3758;
    border-width: 30px;
    margin-left: -30px;
}

.info:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #6B3758;
    border-width: 36px;
    margin-left: -36px;
}


#info-sandyb,
#info-simoneaha {
    display: none;
    margin-top: 17%;
}

.some-artist li {
    display: inline-block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #fff;
    text-align: center;
    padding-top: 6px;
    margin-left: 2%;
}

.some-artist li:first-child {
    margin-left: 0;
}

ul.some-artist {
    padding: 5% 0;
}

.some-artist li:hover {
    text-decoration: none;
    background-color: #c95b28;
    transition: 300ms ease-in-out;
}

.zigzag-artist {
    background: url(../img/zig-zag.svg);
    height: 200px;
    width: 444px;
    position: absolute;
    left: -60px;
    bottom: 96px;
    z-index: 1;
}

.show {
    display: block;
}

/* END SUBPAGE ARTISTS */

/* SUBPAGE ABOUT */

.orange-box-about {
    background-color: #D6845E;
    height: 300px;
    position: absolute;
}

.img-3 {
    bottom: 75px;
}

.zigzag-story {
    background: url(../img/zigzag-release.svg);
    height: 200px;
    position: absolute;
    margin-top: 130px;
    left: 0;
}

.story {
    margin-top: 30%;
}

.story-box {
    background-color: #fff;
    padding: 20px;
}

.hz-zigzag {
	background: url(../img/zigzag/zigzag1.svg) no-repeat;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	width: 50px;
    height: 200px;
    position: absolute;
    top: -100px;
}

.vr-zigzag {
	background: url(../img/zigzag/zigzag1.svg) no-repeat;
	height: 200px; 
}

.qhum-zigzag {
	background: url(../img/zigzag/zigzag1.svg) no-repeat;
    height: 200px;
    margin-left: 140px;
    bottom: -200px;
}

.vr {
    margin-top: 150px;
}

.img-box {
    position: relative;
    z-index: 2;
}

.img-box-vr {
	-webkit-box-shadow: 119px 63px 0px 0px rgba(107,55,88,1);
	-moz-box-shadow: 119px 63px 0px 0px rgba(107,55,88,1);
	box-shadow: 119px 63px 0px 0px rgba(107,55,88,1);
}

.zigzag-vr {
    background: url(../img/zig-zag.svg);
    height: 250px;
    position: absolute;
    margin-top: 130px;
    left: 0;
    background-size: contain;
}

.vr-box {
    background-color: #fff;
    padding: 20px;
    margin: 0 20px;
}

.qhum {
    margin-top: 150px;
}

.orange-box-qhum {
    background-color: #D6845E;
    height: 330px;
    position: absolute;
    right: 0;
    width: 570px;
    top: 20px;
}

.qhum-box {
    background-color: #fff;
    padding: 30px 20px 15px 0;
    z-index: 3;
    margin-top: -25px;
    position: relative;
}

.qhum h2 {
    z-index: 5;
    position: relative;
}

.zigzag-qhum {
    background: url(../img/zigzag-release.svg);
    height: 200px;
    position: absolute;
    right: 20px;
    z-index: 2;
    width: 640px;
}

.video {
    margin-top: 120px;
}

.yt-video-about {
    -webkit-box-shadow: 82px 78px 0px -9px rgba(205, 105, 59, 1);
    -moz-box-shadow: 82px 78px 0px -9px rgba(205, 105, 59, 1);
    box-shadow: 82px 78px 0px -9px rgba(205, 105, 59, 1);
    z-index: 2;
}

.zigzag-video {
    background: url(../img/zigzag-release.svg);
    height: 240px;
    position: absolute;
    z-index: 1;
    bottom: -90px;
    width: 95%;
}

/* SUBPAGE RECORDS */

.rm-box {
	position: absolute;
	bottom: -8%;
}

.readmore {
	background-color: #C95B28;
	padding: 10px 20px;
}

.next {
	background-color: #D6845E;
	display: inline-block;
    line-height: 60px;
    color: #333;
}

.next:hover {
	color: #333;
}


/* END SUBPAGE ABOUT */

/* DETAILPAGE RECORDS */

.record-box {
    background-color: #fff;
    padding: 10px 20px;
    -webkit-box-shadow: 53px 40px 0px 0px rgba(107, 55, 88, 1);
    -moz-box-shadow: 53px 40px 0px 0px rgba(107, 55, 88, 1);
    box-shadow: 53px 40px 0px 0px rgba(107, 55, 88, 1);
}

.zigzag-album {
    background: url(../img/zigzag-release.svg);
    position: absolute;
    margin-top: 138px;
    height: 200px;
}

.artists-zigzag {
	background: url(../img/zigzag/zigzag1.svg) no-repeat;
    height: 200px;
    z-index: 999;
    bottom: -70px;
    position: absolute;
}

.video-listen {
    margin-top: 200px;
}

.vl-box {
    background-color: #CD693B;
    position: absolute;
    width: 100%;
    height: 450px;
    z-index: 2;
    top: -60px;
    right: 100px;
}

/* CONTACT */

.contact-box {
    background-color: #fff;
    padding: 10px;
    position: relative;
    z-index: 3;
}

.orange-box-contact {
    background-color: #CD693B;
    position: absolute;
    height: 400px;
    width: 70%;
    right: 203px;
    top: -20px;
    z-index: 1;
}

.contact-form {
    background-color: #6B3758;
    padding: 20px;
    -webkit-box-shadow: 64px 54px 0px -9px rgba(205, 105, 59, 1);
    -moz-box-shadow: 64px 54px 0px -9px rgba(205, 105, 59, 1);
    box-shadow: 64px 54px 0px -9px rgba(205, 105, 59, 1);
}

.form-control {
    border: none;
    border-radius: 0;
    padding: 20px;
}

.btn-primary {
    background-color: #C95B28;
    border-color: #C95B28;
    border-radius: 0;
    padding: 10px 30px;
}

.btn-primary:hover {
	background-color: #D6845E;
	border-color: #D6845E;
}

.zigzag-contact {
    background: url(../img/zigzag-release.svg);
    width: 100%;
    height: 364px;
}

.fa-phone,
.fa-envelope {
    padding-right: 10px;
}
/* END CONTACT */

.contact-zigzag {
	background: url(../img/zigzag/zigzag4.svg) no-repeat;
	height: 200px;
	float: right;
    width: 50px;
}

.contact-zigzag-2 {
	background: url(../img/zigzag/zigzag1.svg) no-repeat;
	height: 200px;
	float: right;
    width: 100px;
   	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.contact h5 {
	font-weight: 900;
}

/* FOOTER */
footer {
    background-color: #422233;
    margin-top: 10%;
    padding: 2.5%;
    font-size: 16px;
}

.z {
    position: absolute;
    height: 200px;
    top: -90px;
    left: 10px;
}

.zz {
    position: absolute;
    height: 200px;
    top: -120px;
    left: -20px;
}

.footer-left a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    opacity: 0.7;
    padding: 2%;
}

.footer-left a:hover {
    color: #c95b28;
    transition: 300ms ease-in-out;
}

.footer-left li {
    list-style: none;
    line-height: 1.8;
}

footer p {
    color: #fff;
    opacity: 0.7;
    font-family: Interstate-Light;
    font-size: 16px;
}

.bottom-logo {
    padding-top: 3%;
    width: 65%;
}

.footer-right {
    text-align: right;
    padding-top: 1%;
}

.some li {
    display: inline-block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #fff;
    text-align: center;
    padding-top: 6px;
    margin-left: 2%;
}

.some li:hover {
    text-decoration: none;
    background-color: #c95b28;
    transition: 300ms ease-in-out;
}

.fab {
    color: #333;
}

.fa-arrow-up {
    background-color: #C95B28;
    color: #333;
    padding: 1.2%;
    position: absolute;
    bottom: 110px;
    right: 15px;
}

/* END FOOTER */

/* RESPONSIVE */

@media only screen and (min-width: 576px) {
    .container-half {
        max-width: calc(540px / 2);
    }

    #info-sandyb,
    #info-simoneaha {
        margin-top: 10%;
    }

    .zig-zag {
        bottom: 13%;
    }

    .story {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 576px) {

    #info-sandyb,
    #info-simoneaha {
        margin-bottom: 10%;
    }

    .blok {
        margin-top: 15%;
        margin-bottom: 15%;
    }

    ul.some-artist {
        margin-bottom: 15%;
    }
}

@media only screen and (min-width: 768px) {
    .container-half {
        max-width: calc(720px / 2);
    }

    .container-half-md-left {
        margin-right: 0;
    }
}

@media only screen and (max-width: 768px) {
    .orange-box {
        display: none;
    }

    .zigzag {
        top: 0;
    }

    .spotify {
        margin-top: 20px;
    }

    .orange-box {
        display: none;
    }

    .zigzag {
        top: 0;
    }

    .spotify {
        margin-top: 20px;
    }

    .orange-box-about {
        position: static;
    }

    .contact-form {
        margin-top: 145px;
    }

    .mb-3 {
        margin-bottom: 0 !important;
    }

    .footer-left ul {
        margin-bottom: 0;
    }

    .footer-right {
        text-align: center;
        padding-top: 4%;
    }

    ul.some {
        padding: 0;
    }

    ul.footer-menu {
        padding: 0;
    }

    .bottom-logo {
        padding-bottom: 10%;
    }

    .fa-arrow-up {
        display: none;
    }

    .p-box {
        display: none;
    }

    .artists-text {
        left: 0;
    }

    .release-box {
        padding: 0;
    }

    .vr-box {
        padding: 0;
        margin: 0;
    }

    .page-box {
        left: 0;
    }

    .img-3 {
        bottom: 0;
    }
    .artists-zigzag {
	    display: none;
	}
	.contact-zigzag-2  {
		display: none;
	}
	.artists {
		margin-top: 260px;
		margin-bottom: 80px;
	}
}

@media only screen and (max-width: 992px) {
    footer {
        margin-top: 20%;
    }
}


@media only screen and (min-width: 992px) {
    .container-half {
        max-width: calc(960px / 2);
    }

    #info-sandyb,
    #info-simoneaha {
        margin-top: 7%;
    }

    .story {
        margin-top: 10%;
    }
}

@media (min-width: 1200px) {
    .container-half {
        max-width: calc(1140px / 2);
    }
}

@media only screen and (max-width: 1200px) {
    .artists-text h2 {
        top: -105px;
    }
}
