body {
    font-family: interstate, sans-serif;
}

h1 {
    font-family: interstate, sans-serif;
    font-weight: 800;
    font-size: 32px;
    text-transform: uppercase;
}

h2 {
    font-family: interstate, sans-serif;
    font-weight: 800;
    font-size: 52px;
    color: #C95B28;
    text-transform: uppercase;
    text-shadow: -3px 2px 0 #D6845E;
}

h3 {
    font-family: interstate, sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
}


/* MENU - NAVIGATION */

header {
    margin-top: 1%;
    margin-bottom: 1%;
}

.logo img {
    width: 80px;
}


nav a {
    text-decoration: none;
    color: #333333;
    text-transform: uppercase;
}

nav a:hover {
    text-decoration: none;
    color: #c95b28;
    transition: 300ms ease-in-out;
}



/* TOP BANNER */

.top-banner {
    min-height: 750px;
}

.wrap {
    width: 100%;
}

.top-img {
    background: url(../img/top-img.jpg) no-repeat;
    height: 500px;
    background-position: right;
}

.no-space {
    padding-right: 0;
    margin-right: 15px;
}

.purple-box {
    background-color: #6b3758;
    height: 310px;
    bottom: 15%;
    right: 0;
    position: absolute;
}

.title-box {
    background-color: #c95b28;
    color: #fff;
    padding: 35px 35px;
    margin-top: -80px;
}

/* RELEASE */

.release {
    margin-top: 50px;
}

.album-cover {
    -webkit-box-shadow: 35px 35px 0px -9px rgba(214, 132, 94, 1);
    -moz-box-shadow: 35px 35px 0px -9px rgba(214, 132, 94, 1);
    box-shadow: 35px 35px 0px -9px rgba(214, 132, 94, 1);
}

.album-cover img {
    width: 100%;
}

.zigzag-release {
    background: url(../img/zigzag-release.svg);
    margin-top: 200px;
    height: 200px;
    position: absolute;
}

.wordbreak {
    word-spacing: 100vw;
    color: #C95B28;
}

.release-box {
    background-color: #fff;
    padding: 20px 30px;
}

.orange-box {
    background-color: #D6845E;
    height: 300px;
    position: absolute;
    margin-top: -80px;
}

/* HOMEPAGE ARTISTS */

.artists {
    margin-top: 150px;
    margin-bottom: 200px;
}

img.sandy {
    width: 100%;
}

.zigzag {
    background: url(../img/zig-zag.svg);
    height: 286px;
    top: 180px;
}

.artists-text {
    background-color: #fff;
    padding: 5%;
    position: absolute;
    top: 0px;
    left: 60px;
}

.artists-text h2 {
    position: absolute;
    top: -35px;
    color: #C95B28;
}

.p-box {
    width: 450px;
    height: 300px;
    background-color: #6b3758;
    position: absolute;
    top: -55px;
    left: 340px;
}

.artist-box {
    background-color: #fff;
}

/* NEWS */

.news-img {
    background: url(../img/img-1.png);
}

.news-box {
    background-color: #D6845E;
    padding: 20px;
}

/* L&W */

.listen {
    margin-top: 100px;
}

.spotify {
    margin-top: -45px;
    z-index: 999;
    position: relative;
}

.lw-box {
    background-color: #6B3758;
    position: absolute;
    width: 100%;
    height: 450px;
    z-index: 2;
    top: -60px;
    right: 100px;
}

.yt-video {
    z-index: 3;
}

.lw-zigzag {
    background: url(../img/zig-zag.svg);
    position: absolute;
    z-index: 1;
    width: 600px;
    height: 200px;
    right: 0;
    top: 250px;
}


/* SUBPAGES */

/* SUBPAGES TOP BANNER */
.top-image {
    background-image: url(../img/top-img.jpg);
    padding: 6%;
    background-size: cover;
}

.page-box {
    background-color: #6b3758;
    text-align: center;
    padding: 2%;
    left: 25%;
}

.h1 {
    color: #fff;
    font-family: interstate, sans-serif;
    font-weight: 800;
    font-size: 42px;
    text-transform: uppercase;
}


/* ARTISTS */

article {
        padding: 0% 10%;
}

article p {
    color: #fff;
    line-height: 1.65;
}

.artist-img img {
    width: 100%;
}

.info-img {
    width: 100%;
    position: relative;
    z-index: 2;
    -webkit-box-shadow: -57px -27px 0px 0px rgba(214, 132, 94, 1);
    -moz-box-shadow: -57px -27px 0px 0px rgba(214, 132, 94, 1);
    box-shadow: -57px -27px 0px 0px rgba(214, 132, 94, 1);
}

.artists-row {
    margin-top: 100px;
}

.zig-zag {
    background: url(../img/zig-zag-purple.svg);
    height: 170px;
    position: absolute;
    left: -1%;
    bottom: -17%;
}

.artist-name {
    background-color: #C95B28;
    padding-bottom: 2%;
    padding-top: 4%;
    padding-left: 10%;
}

/* Arrow rotation and center*/

.light-orange {
    background-color: #D6845E;
    display: inline-block;
}

.light-orange:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.light-orange i {
    padding: 0;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.fa-chevron-down {
    color: #333;
    transform: rotate(0deg);
    transition: transform .3s linear;
}

.fa-chevron-down.open {
    transform: rotate(180deg);
    transition: transform .3s linear;
}

/* END Arrow rotation and center*/

.name-box {
    position: absolute;
    bottom: -8%;
}

/*Info boxes*/

.info {
    background-color: #6B3758;
    padding: 5% 2%;
    position: relative;
}

.info1:after, .arrow_box:before {
	bottom: 100%;
	left: 30%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.info2:after, .arrow_box:before {
	bottom: 100%;
	left: 64.5%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.info:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #6B3758;
	border-width: 30px;
	margin-left: -30px;
}
.info:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #6B3758;
	border-width: 36px;
	margin-left: -36px;
}


#info-sandyb,
#info-simoneaha {
    display: none;
    margin-top: 7%;
}

.some-artist li {
    display: inline-block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #fff;
    text-align: center;
    padding-top: 6px;
    margin-left: 2%;
}

.some-artist li:first-child {
    margin-left: 0;
}

ul.some-artist {
    padding: 5% 0;
}

.some-artist li:hover {
    text-decoration: none;
    background-color: #c95b28;
    transition: 300ms ease-in-out;
}

.zigzag-artist {
    background: url(../img/zig-zag.svg);
    height: 200px;
    width: 444px;
    position: absolute;
    left: -60px;
    bottom: 96px;
    z-index: 1;
}

/* END ARTISTS */


/* FOOTER */
footer {
    background-color: #422233;
    margin-top: 20%;
    padding: 2.5%;
    font-size: 16px;
}

.z {
    position: absolute;
    height: 200px;
    top: -90px;
    left: 10px;
}

.zz {
    position: absolute;
    height: 200px;
    top: -120px;
    left: -20px;
}

.footer-left a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    opacity: 0.7;
    padding: 4%;
}

.footer-left a:hover {
    color: #c95b28;
    transition: 300ms ease-in-out;
}

.footer-left li {
    list-style: none;
    line-height: 1.8;
}

footer p {
    color: #fff;
    opacity: 0.7;
    font-family: Interstate-Light;
    font-size: 16px;
}

.buttom-logo {
    padding-top: 3%;
    width: 65%;
}

.footer-right {
    text-align: right;
    padding-top: 1%;
}

.some li {
    display: inline-block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #fff;
    text-align: center;
    padding-top: 6px;
    margin-left: 2%;
}

.some li:hover {
    text-decoration: none;
    background-color: #c95b28;
    transition: 300ms ease-in-out;
}

.fab {
    color: #333;
}

.fa-arrow-up {
    background-color: #C95B28;
    color: #333;
    padding: 1.2%;
    position: absolute;
    bottom: 110px;
    right: 15px;
}

/* END FOOTER */

/* RESPONSIVE */

@media (min-width: 576px) {
    .container-half {
        max-width: calc(540px / 2);
    }
}

@media only screen and (max-width: 768px) {
    .orange-box {
        display: none;
    }

    .zigzag {
        top: 0;
    }

    .spotify {
        margin-top: 20px;
    }
}

@media (min-width: 768px) {
    .container-half {
        max-width: calc(720px / 2);
    }

    .container-half-md-left {
        margin-right: 0;
    }
}

@media (min-width: 992px) {
    .container-half {
        max-width: calc(960px / 2);
    }
}

@media (min-width: 1200px) {
    .container-half {
        max-width: calc(1140px / 2);
    }
}
