body {
    font-family: interstate, sans-serif;
}

h1 {
    font-family: interstate, sans-serif;
    font-weight: 800;
    font-size: 32px;
    text-transform: uppercase;
}

h2 {
    font-family: interstate, sans-serif;
    font-weight: 800;
    font-size: 52px;
    color: #C95B28;
    text-transform: uppercase;
	text-shadow: -3px 2px 0 #D6845E;
}


/* MENU - NAVIGATION */

header {
    margin-top: 1%;
    margin-bottom: 1%;
}

.logo img {
    width: 80px;
}


nav a {
    text-decoration: none;
    color: #333333;
    text-transform: uppercase;
}

nav a:hover {
    text-decoration: none;
    color: #c95b28;
    transition: 300ms ease-in-out;  
}



/* TOP BANNER */

.top-banner {
	min-height: 750px;
}

.wrap {
	width: 100%;
}

.top-img {
	background: url(../img/top-img.jpg) no-repeat;
	height: 500px;
	background-position: right;
}  

.no-space {
    padding-right: 0;
    margin-right: 15px;
}

.purple-box {
    background-color: #6b3758;
    height: 310px;
    bottom: 15%;
    right: 0;
    position: absolute;
}

.title-box {
    background-color: #c95b28;
    color: #fff;
    padding: 35px 35px;
    margin-top: -80px;
}

/* RELEASE */

.release {
	margin-top: 50px;
}

.album-cover {
    -webkit-box-shadow: 35px 35px 0px -9px rgba(214,132,94,1);
-moz-box-shadow: 35px 35px 0px -9px rgba(214,132,94,1);
box-shadow: 35px 35px 0px -9px rgba(214,132,94,1);
}

.album-cover img {
	width: 100%;
}

.zigzag-release {
	background: url(../img/zigzag-release.svg);
	margin-top: 200px;
	height: 200px;
	position: absolute;
}

.wordbreak {
	word-spacing: 100vw;
	color: #C95B28;
}

.release-box {
	background-color: #fff;
	padding: 20px 30px;
}

.orange-box {
	background-color: #D6845E;
	height: 300px;
	position: absolute;
	margin-top: -80px;
}

/* HOMEPAGE ARTISTS */

.artists {
    margin-top: 150px;
    margin-bottom: 200px;
}

img.sandy {
    width: 100%;
}

.zigzag {
    background: url(../img/zig-zag.svg);
    height: 286px;
    top: 180px;
}

.artists-text {
    background-color: #fff;
    padding: 5%;
    position: absolute;
    top: 0px;
    left: 60px;
}

.artists-text h2 {
    position: absolute;
    top: -35px;
    color: #C95B28;
}

.p-box {
    width: 450px;
    height: 300px;
    background-color: #6b3758;
    position: absolute;
    top: -55px;
    left: 340px;
}

.artist-box {
	background-color: #fff;
}

/* NEWS */

.news-img {
	background: url(../img/img-1.png);
}

.news-box {
	background-color: #D6845E;
	padding: 20px;
}

/* L&W */

.listen {
	margin-top: 100px;
}

.spotify {
	margin-top: -45px;
    z-index: 999;
    position: relative;
}

.lw-box {
	background-color: #6B3758;
	position: absolute;
    width: 100%;
    height: 450px;
    z-index: 2;
    top: -60px;
    right: 100px;
}

.yt-video {
	z-index: 3;
}

.lw-zigzag {
	background: url(../img/zig-zag.svg);
	position: absolute;
	z-index: 1;
    width: 600px;
    height: 200px;
    right: 0;
    top: 250px;
}


/* SUBPAGES */

/* SUBPAGES TOP BANNER */
.top-image {
    background-image: url(../img/top-img.jpg);
    padding: 6%;
    background-size: cover;
}

.page-box {
    background-color: #6b3758;
    text-align: center;
    padding: 2%;
    left: 25%;
}

.h1 {
    color: #fff;
    font-family: interstate, sans-serif;
    font-weight: 800;
    font-size: 42px;
    text-transform: uppercase;
}

.sub-banner {
	margin-bottom: 150px;
}


/* ARTISTS */

.artist-img img {
    width: 100%;
}

.artists-row {
    margin-top: 100px;
}

.zig-zag {
    background: url(../img/zig-zag-purple.svg);
    height: 170px;
    position: absolute;
    right: 608px;
    bottom: 24px;
}

/* END ARTISTS */

/* SUBPAGE ABOUT */

.orange-box-about {
	background-color: #D6845E;
	height: 300px;
	position: absolute;
}

.img-3 {
	bottom: 75px;
}

.zigzag-story {
	background: url(../img/zigzag-release.svg);
	height: 200px;
	position: absolute;
	margin-top: 130px;
	left: 0;
}

.story-box {
	background-color: #fff;
	padding: 20px;
}

.vr {
	margin-top: 150px;
}

.img-box {
	position: relative;
	z-index: 2;
}

.purple-box-about {
	background-color: #6B3758;
    height: 300px;
    position: absolute;
    width: 70%;
    bottom: -38px;
    right: 0;
}

.zigzag-vr {
	background: url(../img/zig-zag.svg);
	height: 250px;
	position: absolute;
	margin-top: 130px;
	left: 0;
	background-size: contain;
}

.vr-box {
	background-color: #fff;
	padding: 20px;
	margin:  0 20px;
}

.qhum {
	margin-top: 150px;
}

.orange-box-qhum {
	background-color: #D6845E;
    height: 330px;
    position: absolute;
    right: 0;
    width: 570px;
    top: 20px;
}

.qhum-box {
	background-color: #fff;
    padding: 30px 20px 15px 0;
    z-index: 3;
    margin-top: -25px;
    position: relative;
}

.qhum h2 {
	z-index: 5;
    position: relative;
}

.zigzag-qhum {
	background: url(../img/zigzag-release.svg);
	height: 200px;
	position: absolute;
	right: 20px;
    z-index: 2;
    width: 640px;
}

.video {
	margin-top: 120px;
}

.yt-video-about {
	-webkit-box-shadow: 82px 78px 0px -9px rgba(205,105,59,1);
	-moz-box-shadow: 82px 78px 0px -9px rgba(205,105,59,1);
	box-shadow: 82px 78px 0px -9px rgba(205,105,59,1);
	z-index: 2;
}

.zigzag-video {
	background: url(../img/zigzag-release.svg);
    height: 240px;
    position: absolute;
    z-index: 1;
    bottom: -90px;
    width: 600px;
}

/* FOOTER */
footer {
    background-color: #422233;
    margin-top: 10%;
    padding: 2.5%;
    font-size: 16px;
}

.z {
    position: absolute;
    height: 200px;
    top: -90px;
    left: 10px;
}

.zz {
    position: absolute;
    height: 200px;
    top: -120px;
    left: -20px;
}

.footer-left a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    opacity: 0.7;
}

.footer-left a:hover {
    color: #c95b28;
    transition: 300ms ease-in-out;
}

.footer-left li {
    list-style: none;
    line-height: 1.8;
}

footer p {
    color: #fff;
    opacity: 0.7;
    font-family: Interstate-Light;
    font-size: 16px;
}

.buttom-logo {
    padding-top: 3%;
    width: 65%;
}

.footer-right {
    text-align: right;
    padding-top: 1%;
}


.some li {
    display: inline-block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #fff;
    text-align: center;
    padding-top: 6px;
    margin-left: 2%;
}

.some li:hover {
    text-decoration: none;
    background-color: #c95b28;
    transition: 300ms ease-in-out;
}

.fab {
    color: #333;
}

.fa-arrow-up {
    background-color: #C95B28;
    color: #333;
    padding: 1.2%;
    position: absolute;
    bottom: 110px;
    right: 15px;
}

/* END FOOTER */

/* RESPONSIVE */

@media (min-width: 576px) {
    .container-half { max-width: calc(540px / 2); }
}

@media only screen and (max-width: 768px) {
  .orange-box {
    display: none;
  }
  .zigzag {
	  top:0;
  }
  .spotify {
	  margin-top: 20px;
  }
  .orange-box-about {
	  position: static;
  }
}

@media (min-width: 768px) {
    .container-half { max-width: calc(720px / 2); }
    .container-half-md-left { margin-right: 0; }
}

@media (min-width: 992px) {
    .container-half { max-width: calc(960px / 2); }
}

@media (min-width: 1200px) {
    .container-half { max-width: calc(1140px / 2); }
}
