body {
    font-family: interstate, sans-serif;
    margin: 3%;
}

h1 {
    font-family: interstate, sans-serif;
    font-weight: 700;
    font-size: 32px;
}

h2 {
    font-family: interstate, sans-serif;
    font-weight: 700;
    font-size: 52px;
}


/* MENU - NAVIGATION */

#logo {
    width: 80px;
}

nav ul {
    float: right;
}

nav li {
    list-style: none;
    display: inline;
    text-transform: uppercase;
    padding-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333333;
}

nav a:hover {
    text-decoration: none;
    color: #c95b28;
    transition: 300ms ease-in-out;  
}

/* TOP BANNER */

.title-box
